.featured-section {

    .row.border {
        border-width: 2px !important;
    }

}


// Mobile Styles
@media (max-width: 991px) { 
    .featured-section {

        .featured-row {
            flex-wrap: nowrap;
            overflow: scroll;
        }


        h3.text-center {
            text-align: left !important;
        }
        
    }
}