.featured-row.border {
    border-width: 2px !important;
}

@media (max-width: 991px) { 

    .featured-section {

        h3.text-center {
            text-align: left !important;
        }
        
    }

    .featured-row {
        flex-wrap: nowrap;
        overflow: scroll;
    }

}

@media (max-width: 700px) {

    .featured-row.border {
        margin-left: 1px;
        margin-right: 1px;
    }

}