@media only screen and (max-width: 750px) {
    .bottom-header {
        .container {
            .row {
                .col-3 {
                    img {
                        max-width: 50px;
                    }
                }
            }
        }
    }
}

#mobile-search-bar {
    bottom: -41px;
    z-index: 1000;
}

.bottom-header {
    .container {
        .row {
            .col-3 {
                img {
                    max-width: 100%;
                    max-height: 60px;
                }
            }
        }
    }
}