.card.item {
    .card-header {

        .position-absolute {
            z-index: 2;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: .5s;
        }

        &:hover {
            .position-absolute {
                display: flex !important;
                opacity: 1;
            }
        }
    }
    
    .card-body {
        .card-title {
            font-size: $font-size-base;
        }
    }
}