@media only screen and (max-width: 750px) {
    nav {
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100vw;
        z-index: 100;

        .container {
            .row {
                .col-12 {
                    .row {
                        a.py-3 {
                            padding-top: .5rem !important;
                            padding-bottom: .5rem !important;
                        }
                    }
                }
            }
        }
    }
}

nav {
    .container {
        .row {
            .category-menu {
                &:hover {
                    .position-absolute {
                        z-index: 100;
                        margin: auto;
                        display: flex !important;
                    }
                }

                .position-absolute {
                    .col-12 {
                        &:hover {
                            a {
                                color: #0d6efd !important;
                            }
                        }
                    }
                }

            }
        }
    }
}